.navigation .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding:  20px;
}

@media (max-width: 800px){
 .navigation .content{
   flex-direction: column;
   height: 100%;
 } 
  
}

.navigation .content nav {
  width: 100px;
  display: flex;
  justify-content: space-evenly;
}
.navigation .content nav a i {
  font-size: 32px;
  color: black;
  
}

.navigation .content .logo{
  font-weight: bold;
  font-size: 24px;
}

.skills{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

@media (max-width: 800px){
  .skills{
    justify-content: space-evenly;
  }
  
  
}


.skills .skill-block{
  margin: 10px 20px 10px 0; 
}
.skills .skill-block .title{
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;

}


.home-page .home-content{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px){
  .home-page .home-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
}


.home-page .home-content .left, .home-page .home-content .right {
  width: 47%;
}

@media (max-width: 800px){
  .home-page .home-content .left, .home-page .home-content .right {
    width: 100%;
  }
  
  
}

.projects .project-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.footer{
  height: 80px;
  text-align: center;
}